@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,600i,700,700i,900,900i&display=swap');

@font-face{
    font-family:Whitney;
    font-weight:300;
    src:url(https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff)
    format("woff");
}
@font-face{
    font-family:Whitney;font-weight:400;
    src:url(https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff)
    format("woff");
}
@font-face{
    font-family:Whitney;font-weight:500;
    src:url(https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff)
    format("woff");
}
@font-face{
    font-family:Whitney;
    font-weight:600;
    src:url(https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff)
    format("woff");
}
@font-face{
    font-family:Whitney;
    font-weight:700;
    src:url(https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff)
    format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    z-index: 2;
    font-family: Vollkorn, sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --tile-width: 300px;
    font-size:12px;
    background-color: #047960;
}

nav{
    z-index:9999;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size:2rem;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
nav ul{
    float: right !important;
    display:flex;
    flex-direction: row;
    list-style: none;
}
nav ul li{
    text-align: right !important;
    padding:1rem;
    text-shadow: 2px 2px 2px #303841;
}
nav ul li a{
    color:white;
    text-decoration: none;
    background-color: transparent;
}

.background{
    background-image: url('https://wallpaperplay.com/walls/full/a/c/a/53281.jpg');
    /* Add the blur effect */
    background-position: center center;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */

    background-size: cover;
}
.bg-text{
    font-size: 3rem;
    color:white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 70%;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #303841;
    border: 3px solid #f1f1f1;
    max-width: 700px;
    background-color: rgba(0,0,0, 0.2);
}

#projects{
    height: 100vh;
    /* i have a background image ready in case i change my mind
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/549e9b77-4c90-4c7f-8d0e-772a4ba70576/daj4ocm-f915657c-797c-40ee-b7a5-23dd7750457c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNTQ5ZTliNzctNGM5MC00YzdmLThkMGUtNzcyYTRiYTcwNTc2XC9kYWo0b2NtLWY5MTU2NTdjLTc5N2MtNDBlZS1iN2E1LTIzZGQ3NzUwNDU3Yy5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.aV294VAdYttTmZBj5J7d6d4dn6POlMd8OJqJyhddXoA");
    */
    background-color: #FFF;
    background-position: center right;
    background-size: cover;
    display:flex;
    flex-direction: column;


}
#project-header{
    font-size:3rem;
    color:#2F3D4F;
    text-align: center;
    width:60%;
    margin:2rem auto;
    border-bottom: 0.2rem solid #2F3D4F;
    padding:10px;
    max-width: 450px;
}
.project-grid{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
}
.project-tile{
    width:var(--tile-width);
    height:calc(1.2*var(--tile-width));
    margin:2rem auto;
    position:relative;
    display: flex;
    flex-direction: column;
}
.project-tile img{
    width:var(--tile-width);
    height: var(--tile-width);
    max-width:800px;
    max-height: 800px;
    margin: auto;
}
.project-tile h2{
    text-align: center;
}
@media screen and (max-device-width: 500px){

}