
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    z-index: 0;
}
html{
    scroll-behavior: smooth;
}
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    font-size:12px;
    background-color: #047960;
}

nav{
    z-index:9999;
    background-color: rgba(0,0,0,0);
    font-family: "Finger Paint", sans-serif;
    color: white;
    font-size:2rem;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    backdrop-filter: blur(2px);
}
nav ul{
    float: right !important;
    display:flex;
    flex-direction: row;
    list-style: none;
}
nav ul li{
    text-align: right !important;
    padding:1rem;
    text-shadow: 2px 2px 2px #303841;
}
nav ul li a{
    color:white;
    text-decoration: none;
    background-color: transparent;
}

.background{
    background-image: url('images/welcome-2.png');
    /* Add the blur effect */
    filter: blur(1px);
    background-position: center right;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */

    background-size: cover;
}
.bg-text{
    font-size: 3rem;
    color:white;
    font-family: "Finger Paint", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #303841;
}

#projects{
    height: 100vh;
}
@media screen and (max-device-width: 500px){

}